[submodule "rockbox"]
	path = rockbox
	url = git://github.com/Rockbox/rockbox.git
[submodule "omxplayer"]
	path = omxplayer
	url = git@github.com:huceke/omxplayer.git
[submodule "videocoreiv"]
	path = videocoreiv
	url = git@github.com:hermanhermitage/videocoreiv.git
